<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxyan.dao.CustomerOrderMapper">

    <resultMap type="CustomerOrder" id="CustomerOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="carType"    column="car_type"    />
        <result property="carSeries"    column="car_series"    />
        <result property="quantity"    column="quantity"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="orderDate"    column="order_date"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="orderDetailId"    column="order_detail_id"    />
    </resultMap>

    <sql id="selectCustomerOrderVo">
        select orderId, carType, carSeries, quantity, unitPrice, orderDate, orderStatus, customerId from CustomerOrder
    </sql>

    <select id="selectCustomerOrderList" parameterType="CustomerOrder" resultMap="CustomerOrderResult">
<!--        <include refid="selectCustomerOrderVo"/>-->
<!--        <where>  -->
<!--            <if test="orderId != null "> and orderId = #{orderId}</if>-->
<!--            <if test="carType != null  and carType != ''"> and carType = #{carType}</if>-->
<!--            <if test="carSeries != null  and carSeries != ''"> and carSeries = #{carSeries}</if>-->
<!--            <if test="quantity != null "> and quantity = #{quantity}</if>-->
<!--            <if test="unitPrice != null "> and unitPrice = #{unitPrice}</if>-->
<!--            <if test="orderDate != null "> and orderDate = #{orderDate}</if>-->
<!--            <if test="orderStatus != null  and orderStatus != ''"> and orderStatus = #{orderStatus}</if>-->
<!--            <if test="customerId != null  and customerId != ''"> and customerId = #{customerId}</if>-->
<!--        </where>-->
        SELECT
        o.id AS order_id,
        c.type AS car_type,
        s.series_name AS car_series,
        od.car_number AS quantity,
        od.id AS order_detail_id,
        c.sale_price AS unit_price,
        o.create_time AS order_date,
        o.status AS order_status
        FROM
        `order` o
        JOIN
        order_details od ON o.id = od.order_id
        JOIN
        car c ON od.car_id = c.id
        JOIN
        series s ON c.series_id = s.series_id
        WHERE
        o.customer_id = #{customerId}
    </select>

    <select id="selectCustomerOrderByCustomerId" parameterType="String" resultMap="CustomerOrderResult">
        <include refid="selectCustomerOrderVo"/>
        where customerId = #{customerId}
    </select>

    <insert id="insertCustomerOrder" parameterType="CustomerOrder">
        insert into CustomerOrder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">orderId,</if>
            <if test="carType != null">carType,</if>
            <if test="carSeries != null">carSeries,</if>
            <if test="quantity != null">quantity,</if>
            <if test="unitPrice != null">unitPrice,</if>
            <if test="orderDate != null">orderDate,</if>
            <if test="orderStatus != null">orderStatus,</if>
            <if test="customerId != null and customerId != ''">customerId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="carType != null">#{carType},</if>
            <if test="carSeries != null">#{carSeries},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="customerId != null and customerId != ''">#{customerId},</if>
         </trim>
    </insert>
    <insert id="submitComment">
        insert into order_comments (order_detail_id, comment) values (#{orderDetailId}, #{comment})
    </insert>

    <update id="updateCustomerOrder" parameterType="CustomerOrder">
        update CustomerOrder
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">orderId = #{orderId},</if>
            <if test="carType != null">carType = #{carType},</if>
            <if test="carSeries != null">carSeries = #{carSeries},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="unitPrice != null">unitPrice = #{unitPrice},</if>
            <if test="orderDate != null">orderDate = #{orderDate},</if>
            <if test="orderStatus != null">orderStatus = #{orderStatus},</if>
        </trim>
        where customerId = #{customerId}
    </update>

    <delete id="deleteCustomerOrderByCustomerId" parameterType="String">
        delete from CustomerOrder where customerId = #{customerId}
    </delete>

    <delete id="deleteCustomerOrderByCustomerIds" parameterType="String">
        delete from CustomerOrder where customerId in
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
</mapper>
