<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxyan.dao.CartItemMapper">

    <resultMap type="com.gxyan.domain.CartItem" id="CartItemResult">
        <result property="id"    column="id"    />
        <result property="carId"    column="car_id"    />
        <result property="userId"    column="user_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="addedAt"    column="added_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectCartItemVo">
        select id, car_id, user_id, quantity, price, added_at, updated_at from cart_item
    </sql>

    <select id="selectCartItemList" parameterType="com.gxyan.domain.CartItem" resultMap="CartItemResult">
        <include refid="selectCartItemVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectCartItemById" parameterType="java.lang.Long" resultMap="CartItemResult">
        <include refid="selectCartItemVo"/>
        where id = #{id}
    </select>
    <select id="selectCartItemListByCustomerId" resultType="com.gxyan.domain.CartItem"
            parameterType="java.lang.Long">
        select id, car_id, user_id, quantity, price, added_at, updated_at from cart_item where user_id = #{customerId}
    </select>
    <select id="selectCartItemViewListByCustomerId" resultType="com.gxyan.pojo.dto.CartItemViewDTO"
            parameterType="java.lang.Long">
        SELECT
            ci.id AS id,
            b.brand_name AS brandName,
            s.series_name AS seriesName,
            c.type AS type,
            c.color AS color,
            c.sale_price AS salePrice,
            ci.quantity AS quantity
        FROM
            cart_item ci
                JOIN
            car c ON ci.car_id = c.id
                JOIN
            series s ON c.series_id = s.series_id
                JOIN
            brand b ON s.brand_id = b.brand_id
        WHERE
            ci.user_id = #{userId}
    </select>
    <select id="getCartItemQuantityById" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select quantity from cart_item where id = #{id}
    </select>
    <select id="selectCartItemNameById" resultType="com.gxyan.pojo.dto.CartItemViewDTO" parameterType="java.lang.Long">
        SELECT
            ci.id AS id,
            b.brand_name AS brandName,
            s.series_name AS seriesName,
            c.type AS type,
            c.color AS color,
            c.sale_price AS salePrice,
            ci.quantity AS quantity
        FROM
            cart_item ci
                JOIN
            car c ON ci.car_id = c.id
                JOIN
            series s ON c.series_id = s.series_id
                JOIN
            brand b ON s.brand_id = b.brand_id
        WHERE
            ci.car_id = #{carId}
    </select>
    <select id="selectCustomerByUserId" resultType="com.gxyan.pojo.Customer" parameterType="java.lang.Long">
        select * from customer where id =#{userId}
    </select>

    <insert id="insertCartItem" parameterType="com.gxyan.domain.CartItem" useGeneratedKeys="true" keyProperty="id">
        insert into cart_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="id != null">id,</if>
            <if test="carId != null">car_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="addedAt != null">added_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="id != null">#{id},</if>
            <if test="carId != null">#{carId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="addedAt != null">#{addedAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>
    <insert id="addcartquantity" parameterType="java.lang.Long">
        update cart_item set quantity = quantity + 1 where id = #{id}
    </insert>

    <update id="updateCartItem" parameterType="com.gxyan.domain.CartItem">
        update cart_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="carId != null">car_id = #{carId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="addedAt != null">added_at = #{addedAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateBalanceByUserId">
        update customer set balance = balance - #{price} where id = #{userId}
    </update>

    <delete id="deleteCartItemById" parameterType="java.lang.Long">
        delete from cart_item where id = #{id}
    </delete>

    <delete id="deleteCartItemByIds" parameterType="java.lang.String">
        delete from cart_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="delcartquantity" parameterType="java.lang.Long">
        update cart_item set quantity = quantity - 1 where id = #{id}
    </delete>
    <delete id="deleteCartItemByUserId" parameterType="java.lang.Long">
        delete from cart_item where user_id = #{userId}
    </delete>
</mapper>
