<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxyan.dao.TestDriveMapper">

    <resultMap type="com.gxyan.pojo.dto.TestDrive" id="TestDriveResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="carId"    column="car_id"    />
        <result property="testDriveTime"    column="test_drive_time"    />
        <result property="status"    column="status"    />
        <result property="phone"    column="phone"    />
        <result property="customerName"    column="customer_name"    />
    </resultMap>
    <resultMap id="TestDriveResult2" type="com.gxyan.domain.TestDrive">
        <result property="status" column="test_drive_status"/>
        <result property="testDriveTime" column="test_drive_time"/>
        <result property="phone" column="test_drive_phone"/>
        <result property="customerName" column="customer_name"/>
        <result property="carModel" column="car_model"/> <!-- 添加映射 -->
        <result property="carColor" column="car_color"/> <!-- 添加映射 -->
        <result property="price" column="car_sale_price"/> <!-- 添加映射 -->

    </resultMap>


    <sql id="selectTestDriveVo">
        select id, customer_id, car_id, test_drive_time, status, phone, customer_name from test_drive
    </sql>

    <select id="selectTestDriveList" parameterType="com.gxyan.pojo.dto.TestDrive" resultMap="TestDriveResult">
        <include refid="selectTestDriveVo"/>
        <where>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="carId != null "> and car_id = #{carId}</if>
            <if test="testDriveTime != null "> and test_drive_time = #{testDriveTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name = #{customerName}</if>
        </where>
    </select>

    <select id="selectTestDriveById" resultMap="TestDriveResult">
        <include refid="selectTestDriveVo"/>
        where id = #{id}
    </select>
    <select id="getTestDriveById"
            parameterType="java.lang.Long"
            resultMap="TestDriveResult2">
        SELECT
            td.status AS test_drive_status,
            td.test_drive_time,
            td.phone AS test_drive_phone,
            td.customer_name,
            c.type AS car_model,
            c.color AS car_color,
            c.sale_price AS car_sale_price
        FROM
            test_drive td
                JOIN
            car c ON td.car_id = c.id
        WHERE
            td.customer_id = #{customerId}
    </select>


    <insert id="insertTestDrive" parameterType="com.gxyan.pojo.dto.TestDrive">
        insert into test_drive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="carId != null">car_id,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="customerName != null and customerName != ''">customer_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="carId != null">#{carId},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="customerName != null and customerName != ''">#{customerName},</if>
         </trim>
    </insert>

    <update id="updateTestDrive" parameterType="com.gxyan.pojo.dto.TestDrive">
        update test_drive
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="carId != null">car_id = #{carId},</if>
            <if test="testDriveTime != null">test_drive_time = #{testDriveTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestDriveById">
        delete from test_drive where id = #{id}
    </delete>

    <delete id="deleteTestDriveByIds">
        delete from test_drive where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
